@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: poppins;
    box-sizing: border-box;
}
:root{
    --primary-color :#FFD700;
    --secondary-color :#8B4513;
    --neutral-color :#FFFFFF;
    --palatte :#FF6347;
}
body{

    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header'
    'nav nav'
    'section aside'
    'footer footer';
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px 50px 1fr 1fr 1fr; 
}
#header,
#nav,
#section,
#aside,
#footer{
    background-color: rgb(111, 111, 111);
    
}
#header{
    grid-area: header;
    background-color: var(--palatte);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    color: var(--primary-color);
    font-family: lobster; 
    font-size: 4rem;
    text-align: center;
}
.menu{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.menu-line{
    width: 40px;
    height: 5px;
    border-radius: 10px;
    margin: 5px;
    background-color: var(--neutral-color);
}
#nav{
    grid-area: nav;
    background-color: var(--neutral-color);
    font-weight: bold;
    padding: 15px;
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: var(--secondary-color);
}
li a:hover{
    text-decoration: none;
    color: var(--primary-color);
}

#section{
    grid-area: section;
    background-color: var(--neutral-color);
    padding-top: 20px;
    
}
.container{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    
}
#section .container .box img:hover{
    border-radius: 50px;
    width: 210px;
    height: 140px;
}
.cards{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.card{
    margin: 10px;
}
.box-outer-veg{
    width: 15px;
    height: 15px;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-inner-veg{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: green;
    
}
.box-outer-n-veg{
    width: 15px;
    height: 15px;
    border: 2px solid rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-inner-n-veg{
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: rgb(255, 0, 0);
    
}

#aside{
    grid-area: aside;
    padding: 15px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
}
#aside .adds img{
    width: 100%;
    height: 400px;
    transition: all 0.7s ease;
    padding: 20px;
    border-radius: 20px;
    

}
#aside .adds img:hover{
    border: 5px solid var(--secondary-color);
    /* background-color: var(--secondary-color); */
}
#footer{
    grid-area: footer;
    background-color: var(--palatte);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#footer .logo{
    font-size: 3rem;
    text-align: left;
}
.links ul{
    display: flex;
    flex-direction: column;
   
    color: #FFFFFF;
}
.links ul li{
    list-style: none;
}
.links ul li a{
    text-decoration: none;
    color: var(--neutral-color);
}


/* media Queries */

@media (max-width:720px) {
    body{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-areas: 
        'header header'
        'nav nav'
        'section section'
        'footer footer';
        grid-template-columns: 1fr;
        grid-template-rows: 100px 190px 1fr 1fr; 
    }
    #header,
    #nav,
    #section,
    #aside,
    #footer{
        background-color: rgb(255, 255, 255);
        
    }
    #header{
        grid-area: header;
        background-color: var(--palatte);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 30px;
    }
    .logo{
        color: var(--primary-color);
        font-family: lobster; 
        font-size: 4rem;
        text-align: center;
    }
    .menu{
        display: flex;
        cursor: pointer;
        padding-right: 10px;
    }
    .menu-line{
        width: 40px;
        height: 4px;
        background-color: var(--neutral-color);
        transition: all ease 0.1s;
    }
    .menu.active .menu-line:nth-child(1){
        transform: rotate(-45deg) translate(-20px);
    }
    .menu.active .menu-line:nth-child(2){
        opacity: 0;
    }
    .menu.active .menu-line:nth-child(3){
        transform: rotate(45deg) translate(-20px);
    }
    #nav{
        grid-area: nav;
        position: relative;
        z-index: 1;
        top: 0px;
        right: -110%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 200px;
        flex-direction: column;
        transition: right ease 0.3s;
        background-color: var(--secondary-color);
        color: var(--neutral-color);
    }
    #nav.open{
        right: 0%;
    }
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
        
    }
    li{

        list-style: none;
    }
    li a{
        padding: 5px;        
        text-align: left;
        text-decoration: none;
        color: var(--neutral-color);
    }
    #section{
        grid-area: section;
        background-color: var(--neutral-color);
        padding-top: 20px;
        position: relative;
    }
    .container{
        display: flex;
        flex-direction: column;
        height: 200px;
        align-items: center;
        overflow-y: scroll;
        position: absolute;
        top: -190px;
       
    }

    #section .container .box img:hover{
        border-radius: 50px;
        width: 210px;
        height: 140px;
        animation: move 3s infinite;
        
    }
    @keyframes move {
        from { transform: rotate(-20deg); }
        to { transform: rotate(30deg); }
    }
    .cards{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .card{
        margin: 5px;
    }
    .box-outer-veg{
        width: 15px;
        height: 15px;
        border: 2px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-inner-veg{
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: green;
        
    }
    .box-outer-n-veg{
        width: 15px;
        height: 15px;
        border: 2px solid rgb(255, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-inner-n-veg{
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: rgb(255, 0, 0);
        
    }
    
    #aside{
        grid-area: aside;
        padding: 15px;
        text-align: center;
        background-color: var(--primary-color);
        border-radius: 30px 30px 0px 0px;
        display: none;
        flex-direction: column;
    }
    #aside .adds img{
        width: 100%;
        height: 400px;
        padding: 20px;
        border-radius: 20px;
        
    
    }
    #aside .adds img:hover{
        border: 5px solid var(--secondary-color);
        /* background-color: var(--secondary-color); */
    }
    #footer{
        grid-area: footer;
        background-color: var(--palatte);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #footer .logo{
        font-size: 3rem;
        text-align: left;
    }
    .links ul{
        display: flex;
        flex-direction: column;
       
        color: #FFFFFF;
    }
    .links ul li{
        list-style: none;
    }
    .links ul li a{
        text-decoration: none;
        color: var(--neutral-color);
    }
    
}

/* search bar */
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-bar input{
    width: 50rem;
    height: 40px;
}